.form{
    text-align: center;
    background-color: rgb(232, 231, 231);
    padding: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;

}

h1{
    margin: 20px;
}

